.modal-dialog {
  background: $white;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 #00A8E1;
  border-radius: 4px;
  max-width: 700px;

  &.modal-xl {
    max-width: 940px;
    width: 940px;
  }
}

.modal {
  .modal-body,
  .modal-footer {
    padding: 20px;
    @include light-regular;
  }

  .close {
    color: $aqua;
    border: 0;
    background: transparent;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  .modal-header {
    margin: 20px;
    padding: 20px 0;
    border-color: $aqua;
  }

  .modal-title {
    font-size: 24px;
    color: $aqua;
    max-width: 400px;
  }

  .modal-body {
    font-size: 13px;
    color: #4A4A4A;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-body--align-left {
    margin-left: inherit;
    margin-right: inherit;
    display: flex;
  }

  .modal-body__content {

    .widget {
      float: left;
      width: 490px;
      margin-bottom: 25px;
      @include light-regular;
      font-size: 11px;
      color: #4A4A4A;
      line-height: 16px;

      &--sidebar {
        width: 135px;
        margin-right: 20px;
      }

      p {
        padding-top: 5px;
        padding-left: 5px;
        @include light-regular;
        font-size: 11px;
        color: #4A4A4A;
        line-height: 16px;
      }

      h6 {
        @include bold;
        font-size: 13px;
        line-height: 24px;
        padding-left: 5px;
        margin-bottom: 5px;
        color: #4A4A4A;
        border-bottom: 1px solid #9B9B9B;
      }

      span {
        font-size: 11px;
        line-height: 24px;
        color: #4A4A4A;
        @include regular;
        display: block;
        padding-left: 5px;
      }
    }
  }

  .modal-footer {
    border-top: 0;
    padding-top: 0;
    justify-content: flex-start;
  }

  .list {
    align-items: center;

    .list__item {
      width: 100%;
      margin-right: 0;
    }

    .list__item-title {
      width: 110px;
    }

    .list__item-start {
      align-items: flex-start;
    }

    .list__item-form-group {
      height: auto;
    }

    .list__item .form-control,
    .list__item .selectbox {
      width: 180px;
    }

    .list__item textarea.form-control {
      width: 300px;
      height: 120px;
    }
  }
}