$cardBottomSpace: 20px;

#dinamikWeb {
  .card {
    background: $white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
    border-radius: $border-radius-base;
    padding: 10px;
    overflow: auto;
    min-height: 230px;
    margin-bottom: $cardBottomSpace;
    overflow-x: hidden;
  }

  .card--slider {
    width: 100%;
    min-height: 0;

    .carousel-item {
      padding-top: 33%;

      img {
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }

  .card--widget {

    .card__header {
      padding: 15px 10px 0;
      margin-bottom: 15px;
      border-bottom: 1px solid transparent;
    }

    .card__header--cols {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      .card__title {
        padding-bottom: 0;
      }
    }

    .card__main {
      padding-left: 20px;

      &-note {
        margin-top: 70px;
        margin-bottom: 40px;
        padding-left: 111px;
        p {
          margin: 0;
          padding: 0;
          font-family: $font-family-base;
          font-size: 13px;
          line-height: 24px;
          color: #CC0000;
        }
      }
    }

    .card__main--listing {
      display: flex;
    }

    .card__main--tabs {
      width: 100%;
      margin-top: 40px;
      padding-right: 20px;
      display: inline-block;
    }
    
    .card__main--form {
      padding-left: 10px;
      padding-top: 30px;
    }

    .list--bar {
      margin-left: -10px;
    }

    .card__title,
    .card__sub-title {
      @include light-regular;
      font-size: 24px;
      padding-left: 10px;
      margin-bottom: 0;
      padding-bottom: 10px;
    }

    .card__title.card__title--secondary {
      @include regular;
      color: #4A4A4A;
      font-size: 16px;
      span {
        color: $aqua;
      }
    }

    .card__sub-title {
      font-size: 13px;
      color: #00A8E1;
      padding-left: 20px;
      margin-top: 30px;
    }

    .card__header-form {
      padding-right: 0;
    }

    .card__price {
      @include bold;
      font-size: 24px;
      color: #4A4A4A;
    }

    .card__price--xl {
      font-size: 48px;
      line-height: 48px;
    }

    .card__price--min {
      font-size: 16px;
    }
    
  }

  .card--widget-cyan {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $cyan;

    .card__header {
      border-color: $cyan;
    }

    .card__title,
    .list__title {
      color: $cyan;
    }

  }

  .card--widget-purple {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $purple;
    
    .card__header {
      border-color: $purple;
    }

    .card__title,
    .list__title  {
      color: $purple;
    }
  }

  .card--widget-dark_blue { 
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $darkBlue;
    
    .card__header {
      border-color: $darkBlue;
    }

    .card__title,
    .list__title  {
      color: $darkBlue;
    }
  }

  .card--widget-yellow {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $yellow;
    
    .card__header {
      border-color: $yellow;
    }

    .card__title,
    .list__title {
      color: $yellow;
    }
  }

  .card--widget-green {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $green;
    
    .card__header {
      border-color: $green;
    }

    .card__title,
    .list__title {
      color: $green;
    }
  }

  .card--widget-dark_orange {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $dark-orange;
    
    .card__header {
      border-color: $dark-orange;
    }

    .card__title,
    .list__title {
      color: $dark-orange;
    }
  }

  .card--widget-aqua {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $aqua;
    
    .card__header {
      border-color: $aqua;
    }

    .card__title,
    .list__title {
      color: $aqua;
    }
  }

  .card--widget-red {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10), inset 0 4px 0 0 $red;

    .card__main-note {
      margin: 0;
      padding: 25px 0;
    }
    
    .card__header {
      border-color: $red;
    }

    .card__title,
    .list__title {
      color: $red;
    }
  }

  .list--bar {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      width: 100%;
      border-radius: $border-radius-base;
      margin-bottom: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $white;
    }

    .button {
      min-height: 0;
      height: auto;
    }

    &__value {
      @include bold;
      font-size: 14px;
      color: $white;
      padding-left: 20px;
    }
  }

  .list--content {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;

    .list__item {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .list__item--note {
      .list__item-title:after {
        content: '' !important;
      }

      .list__item-form-group {
        white-space: normal;
      }

      p {
        color: $red;
      }
    }

    .list__item,
    .list__item p {
      margin: 0;
      padding: 0;
      line-height: 18px;
    }

    .list__item,
    .list__item strong {
      @include regular;
      color: #4A4A4A;
      font-size: 13px;
    }

    .list__item strong {
      display: inline-block;
      white-space: nowrap;
    }

    .list__item {
      width: 100%;
      display: inline-block;
      padding-bottom: 0;
      margin-bottom: 10px;
      border-bottom: 1px solid #D8D8D8;
    }

    .list__item.no-height .list__item-form-group,
    .list__item.no-height .list__item-form-group .form-control {
      height: auto;
    }

    .list__title {
      @include bold;
      font-size: 13px;
      padding-bottom: 10px;
    }

    .list__context {
      .title {
        color: #4A4A4A;
        font-size: 13px;
        @include light-regular;
        width: 80px;
        display: inline-block;
      }
    }

    .list__item--notification {
      padding-top: 10px;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #81BC02;

      &--no-border {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    &.form-layout {
      display: flex;
      flex-wrap: wrap;
    }

    &.form-layout .list__item {
      @extend .u-no-border;
      vertical-align: middle;
      display: flex;
      align-items: center;
      width: calc(50% - 25px);
      margin-right: 25px;
      margin-bottom: 0;
    }

    &.form-layout.form-layout--1-3 .list__item {
      width: inherit;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0 15px;
    }

    &.form-layout .list__item-title {
      min-width: 110px;
      margin-right: 5px;
      margin-bottom: 0;
      white-space: normal;
      width: 175px;
      display: inline-block;
      position: relative;
      
      &:after {
        content: ":";
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    
    &.form-layout.form-layout--1-3 .list__item-title {
      min-width: 75px;
      width: 75px;
    }

    &.form-layout .list__item-form-group {
      width: 100%;
      margin-bottom: 0;
      display: block;
      position: relative;
      height: 40px;

      .form-control,
      .selectbox {
        height: 40px;
      }

      .selectbox--multiple,
      .selectbox--multiple select[multiple] {
        height: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-appearance: menu;
        outline: 0;

        &:focus,
        &:hover {
          outline: 0;
        }
      }

      .selectbox--multiple:after {
        display: none;
      }

      .selectbox {
        width: 100%;
      }

      &.selectbox-group-min .selectbox {
        width: 100px;
        margin: 0;
        margin-right: 5px;
      }

      &.selectbox-group-half .selectbox {
        width: 100%;
        margin: 0;
      }

      .selectbox select {
        width: 100%;
        height: 40px;
        padding: 0 15px;
        @include regular;
        color: #4A4A4A;
        font-size: 15px;
        appearance: none;
        border: 0;
        background: transparent;
      }

      .form-control[disabled] {
        @include regular;
        color: #4A4A4A;
        font-size: 15px;
        border-color: transparent;
        background: transparent;
        cursor: text;
      }
    }

    &.form-layout.form-layout--no-editing {
      .list__item-form-group {
        height: auto;
      }

      .form-control,
      .selectbox {
        padding: 0;
        height: auto;
      }
    }

    &.list--content-col3 {
      .list__item {
        width: calc(33.33% - 25px);
      }
    }

    &.list-no-col {
      max-width: 80%;
      .list__item {
        width: 100%;
      }

      .selectbox,
      .form-group {
        max-width: 70%;
      }
    }
  }

  .card__main-action {
    margin-top: 15px;
    margin-bottom: 10px;

    @media screen and (max-width: 1200px) {
      .button-group {
        margin-left: -10px;
        margin-top: 20px;
      }
    }

    .button--link {
      margin-left: 20px;
      margin-right: 10px;
      min-height: 0;
      display: inline;
    }
  }

  .col--size-xs {
    height: 20%;
  }

  .col--size-xs-some {
    height: 25%;
  }

  .col--size-sm {
    height: 40%
  }

  .col--size-sm-some {
    height: 45%
  }

  .col--size-md {
    height: 60%
  }

  .col--size-md-some {
    height: 65%
  }

  .col--size-lg {
    height: 80%;
  }

  .col--size-lg-some {
    height: 85%;
  }

  .col--size-xl {
    height: 100%;
  }

  .card--size-full {
    height: calc(100vh - 120px);
  }

  .card--gray {
    width: 100%;
    min-height: 100px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: rgba(216,216,216,0.20);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.10);
    border-radius: 8px;
    position: relative;

    p {
      font-size: 13px;
    }

    .card__title {
      @include regular;
      color: #4A4A4A;
      padding-left: 0;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .button-group {
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 20px;
    }

    &:hover .button-group {
      opacity: 1;
    }
  }

  .list--column {
    flex-direction: column;
    
    .list__item-footer {
      // padding-left: 120px;
      padding-top: 25px;
    }
  }

  .list__item-form-group__col {
    display: flex;
    align-items: center;

    .form-group {
      margin-bottom: 0;
    }
    .form-group:first-child {
      margin-right: 5px;
    }
  }

  .list__item-textarea {
    align-items: flex-start !important;
    vertical-align: top !important;

    .list__item-title {
      width: auto !important;
    }

    .list__item-form-group,
    textarea.form-control {
      height: auto !important;
    }
  }

  .card__header--actions {
    display: flex;
  }

  .card__header--actions-title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 11px;
    color: #4F4F4F;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
  }

  .exports {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    &__item {
      margin: 0 5px;
    }
  }

  .d-flex--cols {
    height: auto !important;

    .selectbox {
      width: 180px !important;
    }

    .d-flex__item {
      width: 100%;
      margin-right: 60px;
    }

    .d-flex__group {
      max-width: 50%;
      display: flex;
    }
  }

  .taxim-spaces {
    padding-right: 15px;
  }

  .list--content.form-layout.list--v2 {
    .list__item {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
      &-title {
        min-width: auto;
        width: 80px;
      }
    }

    .list--v2__item {
      width: 50%;
      margin: 0 5px;
    }

    .button-group {
      align-items: flex-end;
    }
  }

  .list.list--item-column {
    .list__item {
      flex-direction: column;
    }

    .list__item-title {
      width: 100% !important;
      min-width: inherit !important;
      margin-bottom: 20px;
      &:after {
        display: none;
      }
    }
  }

  .card__quiz {
    &-header,
    &-footer,
    &-body--result {
      padding-left: 15px;
      padding-bottom: 10px;
    }

    &-item--cols {
      .card__quiz-body {
        display: flex;
        flex-wrap: wrap;
        
        .card__quiz-col {
          max-width: 45%;
          flex: 0 0 50%;
          margin-right: 5%;
          margin-bottom: 30px;
          position: relative;

          .card__quiz-description {
            padding-left: 0;
          }
        }
      }

      label span {
        white-space: normal;
        display: inline-block;
      }
    }

    &-footer {
      max-width: 60%;
      margin-top: 30px;

      label {
        margin-bottom: 15px;
      }

      textarea.form-control {
        height: 100px;
      }
    }

    &-title {
      @include regular;
      font-size: 13px;
      color: #00A8E1;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }

    &-description {
      @include bold;
      font-size: 13px;
      color: #4A4A4A;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }

    &-list {
      list-style-type: none;
      margin: 0 0 0 -12px;
      padding: 0;

      &__item {
        margin-bottom: 10px;
      }

      .custom-radio {
        font-size: 13px;
        color: #4A4A4A;
        line-height: 18px;
        @include light-regular;
      }
    }

    &-item {
      padding-left: 55px;
      margin-bottom: 40px;
    }

    &-body--result,
    &-body--result > * {
      @include light-regular;
      font-size: 13px;
      color: #4A4A4A;
      line-height: 24px;
    }
    
    &-body--result p {
      margin: 0;
      padding: 0;
    }

    &-body .card__quiz-description {
      padding-left: 15px;
      padding-bottom: 10px;
    }
    
    &-body--result p strong {
      @include regular;
    }
  }

  .form-full-max {
    .list--content.form-layout .list__item-title {
      width: 210px;
      min-width: 210px;
    }

    .form-group {
      max-width: inherit;
    }

    .list--content.form-layout .u-full--max {
      max-width: 60%;
    }
  }

  .checkbox-group--cols {
    height: auto !important;
    margin-top: 25px;
    margin-bottom: 25px !important;

    .custom-checkbox {
      max-width: 33.33333% !important;
      margin-right: 0;
      margin-top: 10px;
    }
  }
}