.carousel-control {
  width: 100px;
  position: absolute;
  left: 0;
  bottom: 10px;

  .carousel-control-prev,
  .carousel-control-next {
    position: static;
    display: inline-block;
    margin-left: 20px;
  }
}