#dinamikWeb {
  .table {
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      padding: 3px;
    }

    tbody tr:hover {
      // background: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
    }

    th {
      @include regular;
      font-size: 11px;
      color: #4A4A4A;
      text-align: left;
      font-weight: normal;
      border-top: 0;
    }
    td {
      padding: 10px 3px;
      @include light-regular;
      color: #4A4A4A;
      font-size: 13px;
      text-align: left;
      vertical-align: middle;
    }
  }

  .table-striped--type2 {
    tbody tr:nth-of-type(odd) {
      background-color: #fff;
    }
  }

  .table--vertical-top td {
    vertical-align: top;
  }

  tr:hover .button-group--has-hover-active {
    opacity: 1;
  }

  .table__footer {
    background: #00A8E1;
    td {
      color: #fff;
    }
  }

  .td-error span {
    color: $red;
    font-weight: bold;
  }

  .td-success span {
    color: #4FADA9;
    font-weight: bold;
  }

  .td-waiting span {
    color: #D6C300;
    font-weight: bold;
  }

  .tr-waiting td {
    background: rgba(245,166,35,0.10);
  }

  .tr-error td {
    background: rgba(208,2,27,0.10);
  }

  .tr-transparent {
    background: transparent !important;
  }

  .vertical-align--md {
    th, td {
      vertical-align: middle;
    }
  }

  .u--no-bottom-border {
    th, td {
      border-bottom: 0 !important;
    }
  }

  .hr-style {
    opacity: 0.4;
    border: 1px solid #00A8E1;
    margin: 0 0 40px 0;
    padding: 0;
  }

  .hr-gray-style {
    opacity: 0.5;
    border: 1px solid #D8D8D8;
    margin: 15px 0 25px 0;
    padding: 0;
  }

  .table-result {
    td {
      background: rgba(217,221,224,0.40);
      color: $aqua;
    }
  }
}