#dinamikWeb {
	.align-items-center {
		align-items: center;
	}

	.text-align-center {
		text-align: center;
	}

	.space-between {
		justify-content: space-between;
	}

	.u-no-border {
		border: 0;
	}

	.text-align-right {
		text-align: right;
	}

	.important {
		color: $red;
	}

	.d-flex {
		display: flex;
	}

	.display-block {
		display: block;
	}

	.u-full {
		width: 100%;
	}

	.no-height {
		height: auto !important;
		vertical-align: top;
		p {
			padding-left: 0.75rem !important;
			font-family: $font-family-base;
			font-weight: 700;
			font-size: 13px;
			color: #4A4A4A;
			line-height: 38px;
		}
	}

	.border-top--light {
		border-top: 1px solid #D8D8D8;
		padding-top: 15px;
	}

	.p-bottom-0 {
		padding-bottom: 0 !important;
	}

	.m-top-10 {
		margin-top: 10px !important;
	}

	.m-top-50 {
		margin-top: 50px !important;
	}

	.visible-block-lg-down {
		display: block;
	}

	@media screen and (min-width: 1200px) {
		.visible-block-lg-down {
			display: inline !important;
		}
	}

	.small-text {
		font-size: 13px;
		@include regular;
	}

	.items-horizontal {
		display: flex;

		&__item {
			margin: 0 10px 0;

			&-lg {
				flex: 1;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}